$header_color : rgba(29, 38, 49, 0.3);
$offer_color : #1d2631;
$wh : #fff;
$bl : #000;
$red : #d22856;
$redAct : rgba(241, 190, 204, 0.7);
$textColor1 : #364351;
$textColor2 : #283645;
$textColor3 : rgba(190, 194, 199, 0.3);
$borderColor : #485461;
$lightGrey : #e5e5e5;
$borderColor2 : #e9ebec;
$shapeColor : #f2f2f2;

body {
  margin: 0;
  padding: 0;
  background: $wh;
  font-size: 14px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif; }

.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto; }

.title-hid {
    font-size: 1px;
    color: transparent;
    position: absolute;
  }

  .offer-box,
  .nav-box,
  .info-box,
  .map-box {
    display: none;
  }

.block_header {
  background: $header_color;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  width: 280px;
  position: absolute;
  z-index: 1; }

.header__btn {
  width: 50px;
  height: 25px;
  border: none;
  background: transparent url(../img/burger.png) no-repeat;
  &:hover {
    background: transparent url(../img/burger-hover.png) no-repeat;
    color: $red;
  }
  &:active {
    background: transparent url(../img/burger-active.png) no-repeat;
  }
}

.header__logo {
  display: block;
  font-size: 20px;
  color: transparent;
  background: url(../img/logotype.png) no-repeat;
  width: 75px;
  height: 25px;
  &:hover {
   background: url(../img/logo-hoverpng.png) no-repeat;
  }
  &:active {
    background: url(../img/logotype.png) no-repeat;
    opacity: 0.3;
  }
}

@media (min-width: 660px) {
  .container {
    width: 660px; }

    .block_header {
      padding: 25px 20px 40px 20px;
      width: 620px;}

      .header__logo {
        width: 150px;
        height: 40px;
        background: url(../img/logo-t.png) no-repeat;
        &:hover {
          background: url(../img/glasses.png) no-repeat left center,
          url(../img/logo-hoverpng.png) no-repeat right bottom;
        }
        &:active {
          background: url(../img/logodesk.png) no-repeat;
          opacity: .3;
        }
      }
}

@media (min-width: 960px) {
  .container {
    width: 960px; }

  .block_header {
    display: none;
  }

  .header__logo {
    background: url(../img/logodesk.png) no-repeat;
  }
}

.offer_block {
  padding-top: 460px;
  background: url(../img/hand.png) no-repeat 0 150px, url(../img/fon.jpg) no-repeat 105px 183px, url(../img/back.jpg) no-repeat 0 0; }

.title-hidden {
  position: absolute;
  color: transparent; }

.offer__info {
  display: flex;
  line-height: 40px;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  background-color: $offer_color; }

.offer__platform {
  display: flex;
  list-style: none;
  width: 100%;
  align-items: baseline;
}

.offer__item {
  padding: 25px;
}

.offer__button {
  display: flex;
  text-decoration: none;
  color: $wh;
  font-size: 18px;
  line-height: 52px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 57px;
  background: transparent;
  border: 3px solid $wh;
  border-radius: 60px;
  &:hover {
    background: $wh;
    color: $red;
  }
  &:active {
    color: $redAct;
  }
}

.offer__discription {
  color: $wh;
  font-weight: light;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 35px;
}

.offer__text {
  display: none;
  text-align: center;
  color: $wh;
  font-size: 40px;
  font-weight: light;
  line-height: auto;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 35px;
}

@media (min-width: 660px) {
  .offer_block {
    padding-top: 115px;
    padding-bottom: 55px;
    background: url(../img/hand-t.png) no-repeat 0 185px, url(../img/screen-t.png) no-repeat 370px 240px, url(../img/back-t.jpg) no-repeat 0 0; }

    .offer__info {
      padding-top: 100px;
      padding-right: 320px;
      background-color: transparent; }

      .offer__text {
        display: block;
      }
}

@media (min-width: 960px) {
  .nav-box {
    height: 110px;
    background: $header_color;
    display: block;}

  .offer-box {
    display: block;
    background: url(../img/back-desktop.jpg) no-repeat;
    background-size: cover;
    height: 873px;
    width: 100%;
    z-index: -1;
    position: absolute;
  }

  .offer_block {
    background: none;
    background: url(../img/iphone-desk.png) no-repeat 55px bottom, url(../img/fon-desk.jpg) no-repeat 625px 285px;
  }

  .offer__info {
    padding-top: 115px;
    padding-right: 650px;
    background-color: transparent; }

    .offer__text {
      margin-top: 0;
      margin-bottom: 35px; }

    .offer__platform {
      margin-right: 30px;}

    .offer__button {
      margin-bottom: 30px; }

    .offer__item {
      margin-bottom: 20px; }

    .offer__discription {
      margin-bottom: 85px; }
}

.info_block {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.info__title {
  color: $textColor1;
  font-size: 24px;
  line-height: 40px;
  font-weight: light;
  text-align: center;
}

.info__reasons {
  background: url(../img/iphone.png) no-repeat center 108% ,url(../img/Shape.png) no-repeat center;
  line-height: 40px;
  padding-top: 85px;
  padding-bottom: 315px;
}

.reason__title {
  line-height: 10px;
  font-size: 18px;
  line-height: auto;
  text-align: center; }

.reason_description {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
  color: $textColor2;
  text-align: center; }

@media (min-width: 660px) {

  .info_block {
    padding-top: 55px;
    padding-bottom: 45px;}

  .info__title {
    font-size: 40px;}

  .title--tablet {
    margin-top: 10px;
    margin-bottom: 45px;
    padding-left: 150px;
    padding-right: 150px;}

  .info__reasons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url(../img/screen-tab.jpg) no-repeat 35px 60px, url(../img/Iphone-t.png) no-repeat 20px 10px, url(../img/shape-tab.png) no-repeat center top;
    padding-left: 330px;
    padding-top: 70px;
    padding-bottom: 35px; }

  .reason__title {
    text-align: left; }

  .reason_description {
    text-align: left; }
    }

    @media (min-width: 960px) {
      .info-box {
        display: block;
        position: absolute;
        background: url(../img/shape-desk.png) no-repeat;
        background-size: cover;
        top: 1100px;
        width: 100%;
        height: 1030px;
        z-index: -1;
      }

      .info_block {
        padding-top: 75px;
      }

      .info__title {
        line-height: 50px;
        font-size: 50px; }

      .info__reasons {
        background: none;
        background:
        url(../img/scr-desk-smile.jpg) no-repeat 713px 53px,
        url(../img/scr-tab.jpg) no-repeat 393px 53px,
        url(../img/scr-grey.jpg) no-repeat 78px 53px,
        url(../img/iphone-desk-min.png) no-repeat 70px 15px,
        url(../img/iphone-desk-min.png) no-repeat 385px 15px,
        url(../img/iphone-desk-min.png) no-repeat 705px 15px;
        flex-direction: row;
        padding-top: 350px;
        padding-bottom: 0;
        padding-left: 0;
      }

      .info__reason {
        width: 225px;
        background: $shapeColor;
        box-shadow: 0 -6px 2px -3px rgba(0, 0, 0, 0.3);
      }

      .reason__title{
        text-align: center;
        font-size: 30px;
        line-height: 30px;
      }

      .reason_description {
        font-size: 16px;
        text-align: center; }
    }

.reviewes_block {
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;}

.review__content {
  color: $textColor2;
  margin-top: 0px;
  text-align: center;
}

.reviewes_block ul, .price_block ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin-left: -40px;
}

.radios__item {
  background: url(../img/shape2.png) no-repeat 0 0;
  display: block;
  color: transparent;
  width: 6px;
  height: 6px;
  font-size: 5px;
  margin: 10px;
  &:hover {
    background: url(../img/Shape4.png) no-repeat center;
  }
  &:active {
    background: url(../img/Shape5.png) no-repeat center;
  }
}

.radios__item--active {
  display: block;
  color: transparent;
  width: 6px;
  height: 6px;
  font-size: 5px;
  margin: 10px;
  border: 3px solid $textColor2;
  border-radius: 50%;
}

.effect_block {
  display: none;
}

.review__author {
  font-size: 20px;
}

.author__proffesion {
  display: none;
}

.slider__btn {
  display: none;
}

@media (min-width: 660px) {

  .effect_block {
    position: relative;
    display: block;
    padding-left: 310px;
    padding-bottom: 135px;
    text-align: left;
    background: url(../img/timer.png) no-repeat 0 0;
  }

  .effect__title {
    font-weight: light;
    font-size: 30px;
    line-height: 36px;
  }

  .effect__text {
    color: $textColor2;
  }

  .effect__anchor {
    line-height: 24px;
    color: $red;
  }

  .effect__timer {
    position: absolute;
    width: 178px;
    height: 178px;
    border: 15px solid $red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 15px;
    top: 53px;
  }

  .time {
    font-weight: bold;
    font-size: 96px;
    color: $red;
  }

  .review__content {
    font-size: 18px;}

  .review__author {
    font-size: 20px;
    order: 1;
    margin-bottom: 0;
  }

  .reviewes_block ul {
    order: 3;
  }

  .author__proffesion {
    display: block;
    color: $textColor2;
    order: 2;
  }
}

@media (min-width: 960px) {
  .effect_block {
    padding-top: 0;
    padding-bottom: 310px;}

  .reviewes_block {
    position: relative;
    padding-top: 0;
    background: url(../img/quotes.png) no-repeat center 410px;
    padding-bottom: 40px;
  }

  .review__content {
    margin-left: 125px;
    margin-right: 125px;
  }

  .reviewes_block ul {
    display: none;;
  }

  .slider__btn {
    display: block;
    width: 25px;
    height: 40px;
    font-size: 3px;
    border: none;
    color: transparent;
    position: absolute;
  }

  .btn--next {
    background: $wh url(../img/right-arrow.png) no-repeat;
    top: 565px;
    right: 10px;
  }

  .btn--previous {
    background: $wh url(../img/left-arrow.png) no-repeat;
    top: 565px;
    left: 10px;
  }


}

.price_block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../img/shape-price.png) no-repeat;
  padding-top: 90px;
}

.price__table {
  border-collapse: collapse;
}

.price__title {
  text-transform: uppercase;
  border-left: 2px solid $lightGrey;
  border-right: 2px solid $lightGrey;
  background: $textColor2;
  color: $wh;
  font-size: 18px;
  line-height: 30px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title--hidden {
  display: none;}

.price__amount {
  font-size: 24px;
  font-weight: light;
}

.price__option {
  width: 270px;
  border: 2px solid $lightGrey;
  color: $textColor1;
  text-transform: uppercase;
  padding: 13px 0px 23px 13px;
}

.option--yes {
  background: $wh url(../img/yes.png) no-repeat 90% center;
}

.option--no {
  background: $wh url(../img/no.png) no-repeat 90% center;
}

.price__table tr {
  display: flex;
}

.title--hit {
  background: $textColor2 url(../img/hit.png) no-repeat;
}

.price__promo {
  transform: rotate(-47deg);
  color: $wh;
  position: absolute;
  font-weight: semibold;
  left: 30px;
  top: 105px;
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: 660px) {

.price-box {
  display: none;
}

.price_block {
  background: url(../img/shape-tab.png) no-repeat 0 0;
  padding-top: 105px;
  padding-bottom: 70px;
}

.title--hidden {
  display: flex;
}

.price__title {
  width: 150px;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.title--empty {
  background: transparent;
  border: none;
}

.price__option {
  background: $wh;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 138px;
  text-transform: none;
}

.price__amount {
  font-size: 18px;
}

.option--yes {
  font-size: 0;
  background: $wh url(../img/yes.png) no-repeat center; }

.option--no {
  font-size: 0;
  background: $wh url(../img/no.png) no-repeat center; }

.price_block ul {
  display: none;
}

.title--hit {
  background: $textColor2 url(../img/hit-tab.png) no-repeat; }

.price__promo {
  top: 5px;
  left: 5px;
}
}

@media (min-width: 960px) {
  .price-box {
    position: absolute;
    display: block;
    width: 100%;
    height: 525px;
    top: 2540px;
    background: url(../img/shape-d-p.png) no-repeat;
    background-size: cover; }

  .price_block {
    background: none;
    padding-top: 125px;
  }

  .price__title {
    width: 205px;
    height: 70px;
    font-size: 18px;
  }

  .price__amount {
    font-size: 24px;
  }

  .price__option {
    width: 192px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
  }

  .option--yes {
    font-size: 0;}
  .option--no {
    font-size: 0;}

  .title--hit {
    background: $textColor2 url(../img/hit.png) no-repeat; }

  .price__promo {
    top: 13px;
    left: 13px;
  }
}

.contacts_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: url(../img/tri.png) no-repeat center 295px;
}

.contacts__title {
  font-size: 24px;
  line-height: auto;
  font-weight: light;
  color: $textColor1;
  text-align: center;
}

.contacts__option {
  font-size: 18px;
  line-height: auto;
  color: $textColor1;
  text-align: center;
}

.contacts__info {
  text-decoration: none;
  color: $red;
  font-size: 24px;
  line-height: auto;
  font-weight: light;
  text-align: center;
  margin-bottom: 25px;
}

.info__anchor {
  &:hover {
    color: $textColor2;
    text-decoration: underline;
   }
  &:active {
    color: $textColor3;
    text-decoration: none;
  }
}

.contacts__map {
  width: 320px;
  height: 220px;
  z-index: -1;
}

.navigation {
  display: none;
  position: relative;
  margin-top: -20px;
  margin-bottom: -90px;
  z-index: 2;
}

@media (min-width: 660px) {
  .contacts_block {
    background-size:100%;
    position: relative;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 25px;
    background: url(../img/tri-tab.png) no-repeat center 360px; }

  .contacts__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 270px;
  }

  .option--call {
    position: absolute;
    top: 185px;
    left: 110px;
  }

  .option--write {
    position: absolute;
    top: 185px;
    right: 110px;
  }

  .option--come {
    position: absolute;
    top: 290px;
    left: 240px;
  }

  .info--number {
    position: absolute;
    top: 215px;
    left: 45px;
  }

  .info--email {
    position: absolute;
    top: 215px;
    right: 25px;
  }

  .info--address {
    z-index: 1;
    width: 210px;
    position: absolute;
    top: 325px;
    left: 220px;
  }

  .contacts__map {
    width: 660px;
    height: 375px;
  }

  .footer_block {
    display: flex;
    padding: 15px 20px 15px 20px;
    justify-content: space-between;
    align-items: center;
  }

  .logo__footer {
    display: block;
    margin-left: 10px;
    width: 150px;
    height: 45px;
    color: transparent;
    background: url(../img/logo-footer-tab.png) no-repeat;
    &:hover {
      background: url(../img/glasses.png) no-repeat left center,
      url(../img/logo-hoverpng.png) no-repeat right bottom;
    }
    &:active {
      background: url(../img/logotype-desk-f.png) no-repeat;
      opacity: .3;
    }
  }

  .social__medias {
    margin-left: -40px;
    list-style: none;
    display: flex;
  }

  .media__anchor {
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid $borderColor2;
    border-radius: 50%;
    color: transparent;
    margin: 6px;
    &:hover {
      border-color: $bl;
    }
    &:active {
      border-color: $borderColor2;
      opacity: .1;
    }
  }

  .anchor--twitter {
    background: url(../img/twitter.png) no-repeat center;
  }

  .anchor--facebook {
    background: url(../img/facebook.png) no-repeat center;
  }

  .anchor--youtube {
    background: url(../img/youtube.png) no-repeat center;
  }

  .footer__create {
    display: flex;
    align-items: center;
    line-height: 18px;
  }

  .footer__htmlacademy {
    display:inline-block;
    width: 40px;
    height: 35px;
    color: transparent;
    background: url(../img/htmlacademy.png) no-repeat 100% center;
    &:hover {
      background: url(../img/html-hover.png) no-repeat 100% center;
    }
    &:active {
      opacity: .3;
    }
  }
}

@media (min-width: 960px) {
  .contacts_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
  }

  .contacts__title {
    font-size: 50px;
    line-height: 50px;
    width: 520px;
    margin-bottom: 690px;
  }

  .option--call {
    position: absolute;
    top: 260px;
    left: 110px; }
  .option--write {
    position: absolute;
    top: 260px;
    right: 110px; }
  .option--come {
    position: absolute;
    top: 260px;
    left: 380px; }
  .info--number {
    position: absolute;
    top: 310px;
    left: 45px; }
  .info--email {
    position: absolute;
    top: 310px;
    right: 25px; }
  .info--address {
    width: 210px;
    position: absolute;
    top: 310px;
    left: 360px; }
  .contacts__map {
    display: none;
  }

  .map-desk {
    width: 100%;
    z-index: 0;
  }
  .map-box {
    width: 100%;
    height: 500px;
    display: block;
    background: url(../img/triangle-desk.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 3470px;
    z-index: 1;
  }

  .footer_block {
    padding-top: 40px;
    padding-bottom: 40px; }

  .logo__footer {
    display: block;
    margin-left: 10px;
    width: 150px;
    height: 45px;
    color: transparent;
    background: url(../img/logotype-desk-f.png) no-repeat;
}
}

.nav_block {
  background: $textColor2;
  list-style: none;
  padding-left: 0px;
}

.nav__item {
  width: 100%;
  border-bottom: 1px solid $bl;
  border-top: 1px solid $borderColor;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-decoration: none;
  color: $wh;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  &:hover {
    color: $red;
  }
  &:active {
    color: $redAct;
  }
}

.first__item {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.btn--close {
  width: 25px;
  height: 25px;
  background: transparent url(../img/menucross.png) no-repeat;
  &:hover {
    background: transparent url(../img/close-hover.png) no-repeat;
  }
  &:active {
    background: transparent url(../img/close-active.png) no-repeat;
  }
}

@media (min-width: 660px) {
  .navigation {
    display: none;
    margin-bottom: -117px;
  }

  .first__item {
    padding-top: 20px;
    padding-bottom: 35px;
    align-items: flex-end;
    width: 600px;
  }
}

@media (min-width: 960px) {
  .navigation {
    display: block; }
  .nav_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $header_color;
    padding-right: 10px; }
  .nav__item {
    border: none;
    font-size: 18px;
    text-transform: none;
    font-weight: normal;
    padding-left: 37px;
    padding-right: 37px;
    line-height: 18px;
    &:hover {
      color: $red;
    }
    &:active {
      color: $wh;
      opacity: .3;
    }
   }
  .btn--close {
    display: none; }
  .first__item {
    padding-top: 24px;
    padding-bottom: 45px;
    padding: 24px 10px 45px 10px; }
  .nav-box {
    background: $header_color;
    z-index: -1;
    max-height: 110px; } }


/* form ------- */
