$header_color : rgba(29, 38, 49, 0.5);
$offer_color : #1d2631;
$wh : #fff;
$bl : #000;
$red : #d22856;
$redAct : rgba(241, 190, 204, 0.7);
$textColor1 : #364351;
$textColor2 : #283645;
$textColor3 : rgba(190, 194, 199, 0.3);
$borderColor : #485461;

body {
  margin: 0;
  padding: 0;
  background: $wh;
  font-size: 14px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif; }

.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto; }

.block_header {
  background: $header_color;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  width: 280px;
  position: absolute;
  z-index: 1; }

.header__btn {
  width: 50px;
  height: 25px;
  border: none;
  background: transparent url(../img/burger.png) no-repeat;
  &:hover {
    background: transparent url(../img/burger-hover.png) no-repeat;
    color: $red;
  }
  &:active {
    background: transparent url(../img/burger-active.png) no-repeat;
  }
}

.header__logo {
  display: block;
  font-size: 20px;
  color: transparent;
  background: url(../img/logotype.png) no-repeat;
  width: 75px;
  height: 25px;
}

@media (min-width: 660px) {
  .container {
    width: 660px; }

    .block_header {
      padding: 25px 20px 40px 20px;
      width: 620px;}

      .header__logo {
        width: 150px;
        height: 40px;
        background: url(../img/logo-t.png) no-repeat;
      }
}

.offer_block {
  padding-top: 460px;
  background: url(../img/hand.png) no-repeat 0 150px, url(../img/fon.jpg) no-repeat 105px 183px, url(../img/back.jpg) no-repeat 0 0; }

.title-hidden {
  position: absolute;
  color: transparent; }

.offer__info {
  display: flex;
  line-height: 40px;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  background-color: $offer_color; }

.offer__platform {
  display: flex;
  list-style: none;
  width: 100%;
  align-items: baseline;
}

.offer__item {
  padding: 25px;
}

.offer__button {
  display: flex;
  text-decoration: none;
  color: $wh;
  font-size: 18px;
  line-height: 52px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 57px;
  background: transparent;
  border: 3px solid $wh;
  border-radius: 60px;
  &:hover {
    background: $wh;
    color: $red;
  }
  &:active {
    color: $redAct;
  }
}

.offer__discription {
  color: $wh;
  font-weight: light;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 35px;
}

.offer__text {
  display: none;
  text-align: center;
  color: $wh;
  font-size: 40px;
  font-weight: light;
  line-height: auto;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 35px;
}

@media (min-width: 660px) {
  .offer_block {
    padding-top: 115px;
    padding-bottom: 55px;
    background: url(../img/hand-t.png) no-repeat 0 185px, url(../img/screen-t.png) no-repeat 370px 240px, url(../img/back-t.jpg) no-repeat 0 0; }

    .offer__info {
      padding-top: 100px;
      padding-right: 320px;
      background-color: transparent; }

      .offer__text {
        display: block;
      }
}

.info_block {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.info__title {
  color: $textColor1;
  font-size: 24px;
  line-height: 40px;
  font-weight: light;
  text-align: center;
}

.info__reasons {
  background: url(../img/iphone.png) no-repeat center 108% ,url(../img/Shape.png) no-repeat center;
  line-height: 40px;
  padding-top: 85px;
  padding-bottom: 315px;
}

.reason__title {
  line-height: 10px;
  font-size: 18px;
  line-height: auto;
  text-align: center; }

.reason_description {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
  color: $textColor2;
  text-align: center; }

@media (min-width: 660px) {

  .info_block {
    padding-top: 55px;
    padding-bottom: 45px;}

  .info__title {
    font-size: 40px;}

  .title--tablet {
    margin-top: 10px;
    margin-bottom: 45px;
    padding-left: 150px;
    padding-right: 150px;}

  .info__reasons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url(../img/screen-tab.jpg) no-repeat 35px 60px, url(../img/Iphone-t.png) no-repeat 20px 10px, url(../img/shape-tab.png) no-repeat center top;
    padding-left: 330px;
    padding-top: 70px;
    padding-bottom: 35px; }

  .reason__title {
    text-align: left; }

  .reason_description {
    text-align: left; }
    }

.reviewes_block {
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;}

.review__content {
  color: #283645;
  margin-top: 0px;
  text-align: center;
}

.reviewes_block ul, .price_block ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin-left: -40px;
}

.radios__item {
  background: url(../img/shape2.png) no-repeat 0 0;
  display: block;
  color: transparent;
  width: 6px;
  height: 6px;
  font-size: 5px;
  margin: 10px;
  &:hover {
    background: url(../img/Shape4.png) no-repeat center;
  }
  &:active {
    background: url(../img/Shape5.png) no-repeat center;
  }
}

.radios__item--active {
  display: block;
  color: transparent;
  width: 6px;
  height: 6px;
  font-size: 5px;
  margin: 10px;
  border: 3px solid $textColor2;
  border-radius: 50%;
}

.effect_block {
  display: none;
}

.review__author {
  font-size: 20px;
}

.author__proffesion {
  display: none;
}

@media (min-width: 660px) {

  .effect_block {
    position: relative;
    display: block;
    padding-left: 310px;
    padding-bottom: 135px;
    text-align: left;
    background: url(../img/timer.png) no-repeat 0 0;
  }

  .effect__title {
    font-weight: light;
    font-size: 30px;
    line-height: 36px;
  }

  .effect__text {
    color: #283645;
  }

  .effect__anchor {
    line-height: 24px;
    color: #d22856;
  }

  .effect__timer {
    position: absolute;
    width: 178px;
    height: 178px;
    border: 15px solid #d22856;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 15px;
    top: 53px;
  }

  .time {
    font-weight: bold;
    font-size: 96px;
    color: #d22856;
  }

  .review__content {
    font-size: 18px;}

  .review__author {
    font-size: 20px;
    order: 1;
    margin-bottom: 0;
  }

  .reviewes_block ul {
    order: 3;
  }

  .author__proffesion {
    display: block;
    color: #283645;
    order: 2;
  }
}

.price_block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../img/shape-price.png) no-repeat;
  padding-top: 90px;
}

.price__table {
  border-collapse: collapse;
}

.price__title {
  text-transform: uppercase;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  background: $textColor2;
  color: $wh;
  font-size: 18px;
  line-height: 30px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title--hidden {
  display: none;}

.price__amount {
  font-size: 24px;
  font-weight: light;
}

.price__option {
  width: 270px;
  border: 2px solid #e5e5e5;
  color: $textColor1;
  text-transform: uppercase;
  padding: 13px 0px 23px 13px;
}

.option--yes {
  background: $wh url(../img/yes.png) no-repeat 90% center;
}

.option--no {
  background: $wh url(../img/no.png) no-repeat 90% center;
}

.price__table tr {
  display: flex;
}

.title--hit {
  background: $textColor2 url(../img/hit.png) no-repeat;
}

.price__promo {
  transform: rotate(-47deg);
  color: $wh;
  position: absolute;
  font-weight: semibold;
  left: 30px;
  top: 105px;
  font-size: 14px;
  text-transform: uppercase;
}

.contacts_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: url(../img/tri.png) no-repeat center 295px;
}

.contacts__title {
  font-size: 24px;
  line-height: auto;
  font-weight: light;
  color: $textColor1;
  text-align: center;
}

.contacts__option {
  font-size: 18px;
  line-height: auto;
  color: $textColor1;
  text-align: center;
}

.contacts__info {
  text-decoration: none;
  color: $red;
  font-size: 24px;
  line-height: auto;
  font-weight: light;
  text-align: center;
  margin-bottom: 25px;
}

.info__anchor {
  &:hover {
    color: $textColor2;
    text-decoration: underline;
   }
  &:active {
    color: $textColor3;
    text-decoration: none;
  }
}

.contacts__map {
  z-index: -1;
}

.navigation {
  display: none;
  position: relative;
  margin-top: -20px;
  margin-bottom: -90px;
  z-index: 2;
}

.nav_block {
  background: $textColor2;
  list-style: none;
  padding-left: 0px;
}

.nav__item {
  width: 100%;
  border-bottom: 1px solid $bl;
  border-top: 1px solid $borderColor;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-decoration: none;
  color: $wh;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  &:hover {
    color: $red;
  }
  &:active {
    color: $redAct;
  }
}

.first__item {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.btn--close {
  width: 25px;
  height: 25px;
  background: transparent url(../img/menucross.png) no-repeat;
  &:hover {
    background: transparent url(../img/close-hover.png) no-repeat;
  }
  &:active {
    background: transparent url(../img/close-active.png) no-repeat;
  }
}
